html.dark {
  /* 自定义深色背景颜色 */
  //--af-bg-color: #000000;
  --custom-app-bg-color: #000000;
}

html.dark .el-header h1{
  --custom-title-text-color: #ffffff;
}

html.dark .el-page-header__left{
  color: #ffffff;
}

html.dark .post-detail-content-box{
  color: #ffffff;
}