:root {
    font-family: "-apple-system", "Wenquanyi Micro Hei", "Wenquanyi Micro Hei Mono", "Microsoft YaHei", "LXGW WenKai", "PT Sans", "Liberation Mono", monospace, dejavu sans mono, Fira Code, Microsoft Yahei, Consolas, Courier New, monospace, Menlo, Monaco !important;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
}

#app {
    background: var(--custom-app-bg-color);
    padding: 10px;
}

.el-header h1 {
    --custom-title-text-color: #000000;
    color: var(--custom-title-text-color);
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}

.el-tag {
    margin-right: 10px;
    margin-bottom: 10px;
}

.top-version-tip {
    margin: 10px 0 !important;
}

.el-alert {
    margin-top: 10px !important;
}

html.dark .post-detail-content-box .hljs{
    color: #ffffff;
    background-color: #161616 !important;
    border: 1px solid #ccc !important;
}

/* table */
.post-detail-content-box table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    margin-top: 10px;
}

.post-detail-content-box table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

.post-detail-content-box table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

/* dark table */
html.dark .post-detail-content-box table {
    color: #ffffff;
    border-color: #ccc;
}

html.dark .post-detail-content-box table th {
    border-color: #ccc;
    background-color: #161616;
}

html.dark .post-detail-content-box table td {
    border-color: #ccc;
    background-color: #161616;
}