/*
 *            GNU GENERAL PUBLIC LICENSE
 *               Version 3, 29 June 2007
 *
 *  Copyright (C) 2025 Terwer, Inc. <https://terwer.space/>
 *  Everyone is permitted to copy and distribute verbatim copies
 *  of this license document, but changing it is not allowed.
 */

[data-name="publisherMenu"]
  // 组件级盒模型设置
  &, & *
    box-sizing border-box

    &::before
    &::after
      box-sizing border-box

  // 菜单项特定样式
  .b3-menu__items
    overflow overlay
  .b3-menu__item
    padding 0

    // 仅对flex子项生效
    [data-flex-container] &
      min-width 0
      flex-shrink 0
  svg
    fill currentColor
    vertical-align middle

@import "./styles/alert.styl"
@import "./styles/messagebox.styl"