html{
  --el-font-family: var(--g-font-family) !important;
}
html.dark {
  /* 自定义深色背景颜色 */
  //--af-bg-color: #000000;
  --custom-app-bg-color: #000000;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}