{
  "picBed": {
    "current": "github",
    "uploader": "github",
    "github": {
      "branch": "main",
      "customUrl": "https://img1.terwer.space/api",
      "path": "public/",
      "repo": "terwer/upload",
      "token": ""
    },
    "list": [
      {
        "type": "tcyun",
        "name": "腾讯云COS",
        "visible": false
      },
      {
        "type": "aliyun",
        "name": "阿里云OSS",
        "visible": true
      },
      {
        "type": "smms",
        "name": "SM.MS",
        "visible": false
      },
      {
        "type": "github",
        "name": "GitHub",
        "visible": true
      },
      {
        "type": "qiniu",
        "name": "七牛云",
        "visible": false
      },
      {
        "type": "imgur",
        "name": "Imgur",
        "visible": false
      },
      {
        "type": "upyun",
        "name": "又拍云",
        "visible": false
      }
    ]
  },
  "debug": true
}