@import "./webfont.css";

html{
  --el-font-family: var(--g-font-family) !important;
  --custom-app-bg-color: #ffffff;
}
:root {
  --g-font-family: "JetBrains Mono", "LXGW WenKai", "-apple-system", "Wenquanyi Micro Hei", "Wenquanyi Micro Hei Mono", "Microsoft YaHei", "PT Sans", "Liberation Mono", monospace, dejavu sans mono, Fira Code, Microsoft Yahei, Consolas, Courier New, monospace, Menlo, Monaco;
  font-family: var(--g-font-family) !important;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Mono font (optional) */
pre,code {
  font-family: var(--g-font-family) !important;
  tab-size: 4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-size: 100%;
}

#app{
  background: var(--custom-app-bg-color);
  padding: 10px;
  min-width: 600px;
  min-height: 960px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}


/* table */
.post-detail-content-box table {
  font-family: var(--g-font-family);
  font-size: 14px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  margin-top: 10px;
}

.post-detail-content-box table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}

.post-detail-content-box table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

.top-version-tip {
  margin: 10px 0 !important;
}

.el-tag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.el-alert {
  margin-top: 10px !important;
}

.el-dialog{
  --el-dialog-width: 88% !important;
  --el-dialog-margin-top: 10vh;
  margin: var(--el-dialog-margin-top,15vh) auto 0 5.5%;
}